:root {
  --nav-color: #ebedee;
  --nav-bg-color: black;
  --body-bg-color: #ebedee;
  --title-text-shadow: rgb(178, 178, 178);
  --grid-card-border: black;
  --grid-card-box-shadow: rgb(178, 178, 178);
  --main-font-color: black;
  --gradient-color-1: #fdfbfb;
  --gradient-color-2: #ebedee;
  --main-white-color: #ebedee;
  --main-radial-gradient: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box;
  color: var(--main-font-color)
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--body-bg-color);
  background-image: var(--main-radial-gradient);
  background-repeat: no-repeat;
  background-attachment: fixed;
  flex-direction: column;
  justify-content: space-between;
}



/* Header */




body, .header, .header-container,
.footer, .footer-container {
  align-items: center;
  display: flex;
}
.header {
  flex-shrink: 0;
  width: 100%;
  height: 150px;
  background-color:black;
  color: var(--nav-color);
  justify-content: center;
}
.header-container {
  max-width: 1400px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  margin: 0 40px;
}
.nav-links {
  display: flex;
  gap: 1.5em;
  justify-content: space-between;
}
.financi-logo {
  display: block;
  font-size: 3em;
}
.header a , .footer a {
  text-decoration: none;
}
.header a:visited, .footer a:visited {
  color: var(--nav-color);
}
.header ul, .footer ul {
  list-style: none;
}



/* Main */



.main {
  flex: 1;
  width: 100%;
  max-width: 1400px;
  margin: 0 40px;
}
h1 {
  font-size: 6em;
  margin: 250px auto;
  text-align: center;
  text-shadow: 0 0 5px var(--title-text-shadow);
}
h2 {
  font-size: 1.3em;
  font-weight: 400;
}
.main-content-grid-container {
  margin: 0 40px 120px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  "income expenses assets liabilities"
  "quick-read quick-read quick-read quick-read";
  gap: 2em;
}
.grid-card {
  border: 1px solid var(--grid-card-border);
  background-color: var(--main-radial-gradient);
  border-radius: 30px;
  box-shadow: 0 0 10px var(--grid-card-box-shadow);
  text-align: center;
  height: 300px;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 20px 30px;
}
.income {
  grid-area: income;
}
.expenses {
  grid-area: expenses;
}
.assets {
  grid-area: assets;
}
.liabilities {
  grid-area: liabilities;
}
.quick-read {
  grid-area: quick-read;
  width: 100%;
}


/* Footer */



.footer {
  flex-shrink: 0;
  width: 100%;
  height: 200px;
  color: var(--nav-color);
  background-color: var(--nav-bg-color);
  justify-content: center;
  padding: 40px 0;
}
.footer-container {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.footer-links {
  max-width: 500px;
}
.copyright {
  text-align: center;
  color: var(--nav-color)
}



/* Media Queries */
@media only screen and (max-width: 1200px) {
  .main-content-grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "income expenses"
    "assets liabilities"
    "quick-read quick-read";
  }
}
@media only screen and (max-width: 600px) {
  * {
    font-size: 12px;
  }
  h1 {
    font-size: 3em;
    margin: 250px 20px;
    text-align: center;
    text-shadow: 0 0 5px var(--title-text-shadow);
  }
  .main-content-grid-container {
    gap: 1em;
    margin: 0 10px 120px;
  }
  .grid-card {
    height: 180px;
    padding: 10px 5px;
  }
}