:root {
  --nav-color: #ebedee;
  --nav-bg-color: black;
  --body-bg-color: #ebedee;
  --grid-card-border: black;
  --main-font-color: black;
  --gradient-color-1: #fdfbfb;
  --gradient-color-2: #ebedee;
  --main-white-color: #ebedee;
  --main-radial-gradient: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box;
  color: var(--main-font-color)
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--body-bg-color);
  background-image: var(--main-radial-gradient);
  background-repeat: no-repeat;
  background-attachment: fixed;
  flex-direction: column;
  justify-content: space-between;
}
body, .header, .header-container {
  align-items: center;
  display: flex;
}
.header {
  flex-shrink: 0;
  width: 100%;
  height: 150px;
  background-color:black;
  color: var(--nav-color);
  justify-content: center;
}
.header-container {
  /* border: 2px solid red; */
  max-width: 1700px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  margin: 0 40px;
}
.nav-links {
  /* border: 2px solid red; */
  display: flex;
  gap: 1.5em;
  justify-content: space-between;
}
.financi-logo {
  display: block;
  font-size: 3em;
  /* border: 2px solid red; */
}
.header a , .footer a {
  text-decoration: none;
}
.header a:visited, .footer a:visited {
  color: var(--nav-color);
}
.header ul, .footer ul {
  list-style: none;
}



/* header above */



/* main below */



.main {
  flex: 1;
  /* border: 1px solid red; */
  width: 100%;
  max-width: 1700px;
}
h1 {
  font-size: 6em;
  margin: 250px auto;
  text-align: center;
}
h2 {
  font-size: 1.3em;
  font-weight: 400;
}
.main-content-grid-container {
  margin-bottom: 120px;
  /* border: 1px solid red; */
  display: grid;
  grid-template-areas: 
  "income expenses assets liabilities"
  "quick-read quick-read quick-read quick-read";
  width: 100%;
  gap: 2em;
  
}
.grid-card {
  border: 1px solid var(--grid-card-border);
  background-color: var(--main-radial-gradient);
  border-radius: 30px;
  text-align: center;
  padding: 20px 0;
  height: 300px;
  width: 100%;
}
.income {
  grid-area: income;
}
.expenses {
  grid-area: expenses;
}
.assets {
  grid-area: assets;
}
.liabilities {
  grid-area: liabilities;
}
.quick-read {
  grid-area: quick-read;
  width: 100%;
}


/* main above */
/* footer below */



.footer {
  flex-shrink: 0;
  width: 100%;
  height: 200px;
  color: var(--nav-color);
  background-color: var(--nav-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}
.footer-container {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer-links {
  max-width: 500px;
}
.copyright {
  text-align: center;
  color: var(--nav-color)
}

/* media queries below */


/* media queries above */